In [1]:
from pyspark import SparkContext as sc
from pyspark.sql import SparkSession

In [2]:
spark1 = SparkSession.builder.appName('SQL').getOrCreate()

In [3]:
df = spark1.read.csv('C:/Users/yatish.k/Documents/E commerce data/salesdata.csv',inferSchema=True,header=True)

In [4]:
df1 = spark1.read.csv('C:/Users/yatish.k/Documents/E commerce data/Customerdetail.csv',inferSchema=True,header=True)

In [5]:
df.show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 20 rows

In [6]:
df1.show()

+----------+--------------+
|CustomerID|Customer name |
+----------+--------------+
|     17850|          null|
|     17850|          null|
|     17850|          null|
|     17850|          null|
|     17850|          null|
|     17850|          null|
|     17850|          null|
|     17850|          null|
|     17850|          null|
|     13047|          null|
|     13047|          null|
|     13047|          null|
|     13047|          null|
|     13047|          null|
|     13047|          null|
|     13047|          null|
|     13047|          null|
|     13047|          null|
|     13047|          null|
|     13047|          null|
+----------+--------------+
only showing top 20 rows

In [7]:
df2= df1.fillna('yatish')

In [8]:
df2.show()

+----------+--------------+
|CustomerID|Customer name |
+----------+--------------+
|     17850|        yatish|
|     17850|        yatish|
|     17850|        yatish|
|     17850|        yatish|
|     17850|        yatish|
|     17850|        yatish|
|     17850|        yatish|
|     17850|        yatish|
|     17850|        yatish|
|     13047|        yatish|
|     13047|        yatish|
|     13047|        yatish|
|     13047|        yatish|
|     13047|        yatish|
|     13047|        yatish|
|     13047|        yatish|
|     13047|        yatish|
|     13047|        yatish|
|     13047|        yatish|
|     13047|        yatish|
+----------+--------------+
only showing top 20 rows

In [9]:
df.createTempView('sales')

In [10]:
df2.createTempView('customer1')

In [11]:
dfjoin = spark1.sql("SELECT* FROM sales JOIN customer1 ON Sales.CustomerID = customer1.CustomerID").show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|CustomerID|Customer name |
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|     17850|        yatish|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+----------+--------------+
only showing top 20 rows

In [12]:
df.orderBy("Country").show()

+---------+---------+--------------------+--------+----------------+---------+----------+---------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|  Country|
+---------+---------+--------------------+--------+----------------+---------+----------+---------+
|   563614|    22946|WOODEN ADVENT CAL...|      60|  8/18/2011 8:51|    12.75|     12415|Australia|
|   563179|    22090|PAPER BUNTING RET...|      12| 8/12/2011 14:19|     2.95|     12431|Australia|
|   563179|    20726|  LUNCH BAG WOODLAND|      10| 8/12/2011 14:19|     1.65|     12431|Australia|
|   563179|    23158|SET OF 5 LUCKY CA...|      12| 8/12/2011 14:19|     2.08|     12431|Australia|
|   563179|    23344|JUMBO BAG 50'S CH...|      10| 8/12/2011 14:19|     2.08|     12431|Australia|
|   563179|    20725|LUNCH BAG RED RET...|      10| 8/12/2011 14:19|     1.65|     12431|Australia|
|   563179|   35004G|SET OF 3 GOLD FLY...|       4| 8/12/2011 14:19|     6.35|     12431|Australia|
|   563179|    23268|SET OF 2 CERAMIC ...|      12| 8/12/2011 14:19|     1.45|     12431|Australia|
|   563179|    21731|RED TOADSTOOL LED...|     288| 8/12/2011 14:19|     1.45|     12431|Australia|
|   563614|    23360|SET 8 CANDLES VIN...|     144|  8/18/2011 8:51|     1.65|     12415|Australia|
|   578459|    22338|STAR DECORATION P...|      96|11/24/2011 12:30|     0.19|     12388|Australia|
|   578459|    22576|SWALLOW WOODEN CH...|      20|11/24/2011 12:30|     0.85|     12388|Australia|
|   578459|    22910|PAPER CHAIN KIT V...|      20|11/24/2011 12:30|     2.95|     12388|Australia|
|   578459|    22580|ADVENT CALENDAR G...|      12|11/24/2011 12:30|     5.95|     12388|Australia|
|   563179|    22383|LUNCH BAG SUKI DE...|      10| 8/12/2011 14:19|     1.65|     12431|Australia|
|   578459|    22669|   RED BABY BUNTING |      12|11/24/2011 12:30|     2.95|     12388|Australia|
|   578459|    22600|CHRISTMAS RETROSP...|      20|11/24/2011 12:30|     0.85|     12388|Australia|
|   578459|    22086|PAPER CHAIN KIT 5...|      20|11/24/2011 12:30|     2.95|     12388|Australia|
|   563179|    21164|HOME SWEET HOME M...|       6| 8/12/2011 14:19|     2.95|     12431|Australia|
|   578459|    22340|NOEL GARLAND PAIN...|      24|11/24/2011 12:30|     0.39|     12388|Australia|
+---------+---------+--------------------+--------+----------------+---------+----------+---------+
only showing top 20 rows

In [13]:
dfjoin.orderBy("Country").show()

AttributeError: 'NoneType' object has no attribute 'orderBy'

In [15]:
dfgrp  = df.groupBy("Country")

In [16]:
dfgrp.max().show()

+------------------+-------------+--------------+---------------+
|           Country|max(Quantity)|max(UnitPrice)|max(CustomerID)|
+------------------+-------------+--------------+---------------+
|            Sweden|          768|          40.0|          17404|
|         Singapore|          288|       3949.32|          12744|
|           Germany|          600|         599.5|          14335|
|               RSA|           12|         14.95|          12446|
|            France|          912|       4161.06|          14277|
|            Greece|           48|          50.0|          17508|
|European Community|           24|          18.0|          15108|
|           Belgium|          272|         39.95|          12876|
|           Finland|          144|         275.6|          12704|
|             Malta|           48|          65.0|          17828|
|       Unspecified|           48|         16.95|          16320|
|             Italy|          200|         300.0|          14912|
|              EIRE|         1440|        1917.0|          14911|
|         Lithuania|           48|          5.95|          15332|
|            Norway|          240|         700.0|          12752|
|             Spain|          360|       1715.85|          17097|
|           Denmark|          256|          18.0|          13919|
|         Hong Kong|          144|       2653.95|           null|
|           Iceland|          240|         12.75|          12347|
|            Israel|          100|         125.0|          12688|
+------------------+-------------+--------------+---------------+
only showing top 20 rows

In [17]:
dfgrp.sum().show()

+------------------+-------------+------------------+---------------+
|           Country|sum(Quantity)|    sum(UnitPrice)|sum(CustomerID)|
+------------------+-------------+------------------+---------------+
|            Sweden|        35637|1806.8299999999995|        6790083|
|         Singapore|         5234|          25108.89|        2918376|
|           Germany|       117448|  37665.9999999998|      120075093|
|               RSA|          352|             248.1|         721868|
|            France|       110480|43031.990000000034|      107648864|
|            Greece|         1556|            713.29|        2008584|
|European Community|          497|294.04999999999995|         921588|
|           Belgium|        23152| 7540.130000000014|       25718288|
|           Finland|        10666| 3786.850000000001|        8699324|
|             Malta|          944| 666.0099999999999|        2158496|
|       Unspecified|         3300|           1204.01|        3348046|
|             Italy|         7999|3879.3900000000035|       10156663|
|              EIRE|       142637|48447.190000000286|      110391745|
|         Lithuania|          652| 99.44000000000001|         536620|
|            Norway|        19247| 6529.060000000004|       13507651|
|             Spain|        26824|12633.449999999999|       32689291|
|           Denmark|         8188|           1266.95|        4876734|
|         Hong Kong|         4769|12241.499999999993|           null|
|           Iceland|         2458|            481.21|        2247154|
|            Israel|         4353|1079.0400000000009|        3164467|
+------------------+-------------+------------------+---------------+
only showing top 20 rows

In [21]:
dfgrp.max("Quantity","UnitPrice").show()

+------------------+-------------+--------------+
|           Country|max(Quantity)|max(UnitPrice)|
+------------------+-------------+--------------+
|            Sweden|          768|          40.0|
|         Singapore|          288|       3949.32|
|           Germany|          600|         599.5|
|               RSA|           12|         14.95|
|            France|          912|       4161.06|
|            Greece|           48|          50.0|
|European Community|           24|          18.0|
|           Belgium|          272|         39.95|
|           Finland|          144|         275.6|
|             Malta|           48|          65.0|
|       Unspecified|           48|         16.95|
|             Italy|          200|         300.0|
|              EIRE|         1440|        1917.0|
|         Lithuania|           48|          5.95|
|            Norway|          240|         700.0|
|             Spain|          360|       1715.85|
|           Denmark|          256|          18.0|
|         Hong Kong|          144|       2653.95|
|           Iceland|          240|         12.75|
|            Israel|          100|         125.0|
+------------------+-------------+--------------+
only showing top 20 rows

In [22]:
dfgrp  = df.groupBy("Country").max().show()

+------------------+-------------+--------------+---------------+
|           Country|max(Quantity)|max(UnitPrice)|max(CustomerID)|
+------------------+-------------+--------------+---------------+
|            Sweden|          768|          40.0|          17404|
|         Singapore|          288|       3949.32|          12744|
|           Germany|          600|         599.5|          14335|
|               RSA|           12|         14.95|          12446|
|            France|          912|       4161.06|          14277|
|            Greece|           48|          50.0|          17508|
|European Community|           24|          18.0|          15108|
|           Belgium|          272|         39.95|          12876|
|           Finland|          144|         275.6|          12704|
|             Malta|           48|          65.0|          17828|
|       Unspecified|           48|         16.95|          16320|
|             Italy|          200|         300.0|          14912|
|              EIRE|         1440|        1917.0|          14911|
|         Lithuania|           48|          5.95|          15332|
|            Norway|          240|         700.0|          12752|
|             Spain|          360|       1715.85|          17097|
|           Denmark|          256|          18.0|          13919|
|         Hong Kong|          144|       2653.95|           null|
|           Iceland|          240|         12.75|          12347|
|            Israel|          100|         125.0|          12688|
+------------------+-------------+--------------+---------------+
only showing top 20 rows

In [23]:
dfgrp != df

True

In [24]:
dfgrp = df

In [27]:
dfnull = spark1.sql("Select* from sales where Country > 1").show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
+---------+---------+-----------+--------+-----------+---------+----------+-------+

In [34]:
dfnull1 = df.groupBy('Customer name') HAVING COUNT(*)>1.show()

SyntaxError: invalid syntax (<ipython-input-34-e00f62004bcd>, line 1)

In [39]:
dfnull1 = df.dropDuplicates().show()

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536367|    22745|POPPY'S PLAYHOUSE...|       6| 12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536368|    22960|JAM MAKING SET WI...|       6| 12/1/2010 8:34|     4.25|     13047|United Kingdom|
|   536388|    22915|ASSORTED BOTTLE T...|      12| 12/1/2010 9:59|     0.42|     16250|United Kingdom|
|   536401|    21464|DISCO BALL ROTATO...|       1|12/1/2010 11:21|     4.25|     15862|United Kingdom|
|   536412|    22569|FELTCRAFT CUSHION...|       2|12/1/2010 11:49|     3.75|     17920|United Kingdom|
|   536425|    22645|CERAMIC HEART FAI...|      12|12/1/2010 12:08|     1.45|     13758|United Kingdom|
|   536488|    22376|AIRLINE BAG VINTA...|       1|12/1/2010 12:31|     4.25|     17897|United Kingdom|
|   536520|    21930|JUMBO STORAGE BAG...|       1|12/1/2010 12:43|     1.95|     14729|United Kingdom|
|   536534|    22866|HAND WARMER SCOTT...|      12|12/1/2010 13:33|      2.1|     15350|United Kingdom|
|   536540|   85136A|YELLOW SHARK HELI...|       2|12/1/2010 14:05|     7.95|     14911|          EIRE|
|   536544|    22297|HEART IVORY TRELL...|       1|12/1/2010 14:32|     2.51|      null|United Kingdom|
|   536544|   35610A|PINK CHRISTMAS FL...|       1|12/1/2010 14:32|     2.51|      null|United Kingdom|
|   536544|    20969|RED FLORAL FELTCR...|       2|12/1/2010 14:32|     7.62|      null|United Kingdom|
|   536562|   79302M|ART LIGHTS,FUNK M...|       6|12/1/2010 15:08|     2.95|     13468|United Kingdom|
|   536569|    22941|CHRISTMAS LIGHTS ...|       1|12/1/2010 15:35|      8.5|     16274|United Kingdom|
|   536571|    21352|EUCALYPTUS & PINE...|       2|12/1/2010 15:37|     6.75|     14696|United Kingdom|
|   536591|    21985|PACK OF 12 HEARTS...|       4|12/1/2010 16:58|     0.29|     14606|United Kingdom|
|   536592|    22919|    HERB MARKER MINT|       1|12/1/2010 17:06|     1.66|      null|United Kingdom|
|   536592|    22961|JAM MAKING SET PR...|       1|12/1/2010 17:06|     3.36|      null|United Kingdom|
|   536592|   47593B|SCOTTIE DOGS BABY...|       3|12/1/2010 17:06|     0.85|      null|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 20 rows

In [51]:
dfnull6 = spark1.sql("SELECT DISTINCT * from customer1").count()

In [60]:
dfduplicate = spark1.sql("SELECT('InvoiceNo','StockCode',' Country')  from sales, groupBy Country having count(*)>1").show()

AnalysisException: 'Table or view not found: groupBy; line 1 pos 56'

In [61]:
df.current_date()

AttributeError: 'DataFrame' object has no attribute 'current_date'

In [62]:
sales.current_date()

NameError: name 'sales' is not defined

In [63]:
dfgrp.current_date()

AttributeError: 'DataFrame' object has no attribute 'current_date'

In [64]:
spark1.sql.current_date()

AttributeError: 'function' object has no attribute 'current_date'

NameError: name 'expr' is not defined